@font-face{
    font-family: Berlin;
    src: url(BRLNSDB.TTF);
}
a {
	color:#2C6D8B;
}

section{
	height:100%;
	padding:0;
}

section#home{
	background-image: url(../images/bg3.jpg);
  	background-position: center center;
  	padding: 100px 0 100px 0;
}


#iphone{
	height: 450px;
}

#iphoneImage{
	float:left;
	margin:5px;
}


#iphoneContent{
	position:relative;
	top:150px;
	margin:5px;
	float:left;
	
}



#home_section{
	margin: auto;
	display:inline-block;
	
}

.welcome{
	font-size:40px;
	text-shadow: 2px 2px rgb(44, 109, 139);
    color:black;
    font-family: Berlin;
}

@media screen and (max-width:700px){
	.welcome{
		font-size:25px;
	}
	#iphone{
		height: 350px;
	}
    
    
}

@media screen and (max-width:779px){
    header{
        height: 45px;
    }
    .logo{
        top:-5px;
    }
}
@media screen and (max-width:850px){
	section{
		height:100%;
	}
	#iphoneContent{
		float:center;
		top:30px;
	}
}




section#features{
	background:#F4F4F4
}


.content{
	display:inline-block;
	max-width: 400px;;
	margin:5px;
	float:center;
	padding:10px;
	vertical-align:top;
}


.wrapper{
	display:inline-block;
	margin:auto auto;
	padding:50px 0 150px 0;
}

.icon{
	height: 100px;
}

header{
	background: rgba(0, 0, 0, .90);
}


.logo{
	font-size: 25px;
	transition: font-size .25s ease-in;
    font-family:monospace;
    font-family:Berlin;
    position: relative;
    
	-moz-transition: font-size .25s ease-in;
	-webkit-transition: font-size .25s ease-in;
	-o-transition: font-size .25s ease-in;
	-ms-transition: font-size .25s ease-in;
}

.lounge{
	color: rgb(44, 109, 139);
}

#welcomeMsg{
    font-weight:bold;
    font-family: serif;
    color:white;
    text-shadow: 1px 1px black;
}


footer{
	text-align: center;
	font-size: 15px;
	background: #000;
	color: white;
}

h1{
	font-size: 30px;
	position:relative;
	top:10px;
}


.memberPic{
	padding:20px;
	border-radius: 50%;
}


@media screen and (max-width:350px){
	#iphone{
		height:250px;
	}
	.welcome{
		font-size:20px;
	}
    .logo{
        font-size: 20px;
    }
}

